@import "@fontsource/montserrat/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --anti-flash-white: rgba(241, 241, 241, 1);
  --bright-white: rgba(254, 255, 255, 1);
  --glaucous: rgba(126, 142, 189, 1);
  --light-periwinkle: rgba(211, 215, 255, 1);
  --periwinkle: rgba(177, 184, 255, 1);
  --notification-box: rgba(217, 217, 217, 1);
  --prussian-blue: rgba(18, 38, 58, 1);
  --prussian-blue-dark: rgb(14, 30, 46);
  --text: rgba(149, 148, 159, 1);

  /* font-family:'Montserrat-Medium',Helvetica; */
}
